# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [256]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk

# Algumas configurações para o matplotlib.

In [257]:
%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## _Setup_ geral

In [258]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk

In [259]:
# Algumas configurações para o matplotlib.
%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

In [260]:
countries = pd.read_csv("countries.csv")

In [261]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head(5)

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

#### Temos 2 variáveis categóricas, as quais são as duas primeiras colunas e 18 variáveis numéricas, todas à direita

In [262]:
countries.dtypes

Country              object
Region               object
Population            int64
Area                  int64
Pop_density          object
Coastline_ratio      object
Net_migration        object
Infant_mortality     object
GDP                 float64
Literacy             object
Phones_per_1000      object
Arable               object
Crops                object
Other                object
Climate              object
Birthrate            object
Deathrate            object
Agriculture          object
Industry             object
Service              object
dtype: object

In [263]:
#Convertiz tudo para string primeiro, porque ele dizia que os object eram float64
countries = countries.astype(str)
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           227 non-null    object
 1   Region            227 non-null    object
 2   Population        227 non-null    object
 3   Area              227 non-null    object
 4   Pop_density       227 non-null    object
 5   Coastline_ratio   227 non-null    object
 6   Net_migration     227 non-null    object
 7   Infant_mortality  227 non-null    object
 8   GDP               227 non-null    object
 9   Literacy          227 non-null    object
 10  Phones_per_1000   227 non-null    object
 11  Arable            227 non-null    object
 12  Crops             227 non-null    object
 13  Other             227 non-null    object
 14  Climate           227 non-null    object
 15  Birthrate         227 non-null    object
 16  Deathrate         227 non-null    object
 17  Agriculture       227 non-null    object
 18  Industry          227 non-null    object
 19  Service           227 non-null    object
dtypes: object(20)
memory usage: 35.6+ KB

Substituindo a vírgula por ponto:

In [264]:
countries_rep = pd.DataFrame([countries.iloc[:,i].apply(lambda x: x.replace(',','.')) for i in list(range(2,20))]).transpose()

Converter para float as colunas numéricas

In [265]:
# contries_rep = countries_rep.astype(float)
# contries_rep.info()

Concatenar todos os dados:

In [266]:
countries_rep_conc = pd.concat([countries.iloc[:,[0,1]],countries_rep], axis = 1)
countries_rep_conc

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1,46.6,20.34,0.38,0.24,0.38
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31,6000.0,70.0,78.1,3.22,0.25,96.53,1,17.14,4.61,0.101,0.6,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10,15,75,2,22.46,3.27,nan,nan,nan
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.6,4.05,19000.0,100.0,497.2,2.22,0,97.78,3,8.71,6.25,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,nan,145.2,16.9,18.97,64.13,3,31.67,3.92,0.09,0.28,0.63
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,nan,nan,nan,nan,nan,0.02,0,99.98,1,nan,nan,nan,nan,0.4
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0,61.5,800.0,50.2,37.2,2.78,0.24,96.98,1,42.89,8.3,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0,88.29,800.0,80.6,8.2,7.08,0.03,92.9,2,41,19.93,0.22,0.29,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2,28.01,21.84,0.179,0.243,0.579

Converter para float as colunas que são numéricas

In [267]:
a = countries_rep_conc.iloc[:,list(range(2,20))].astype(float)

### Retirar os espaços das features Country e Region

In [268]:
country_region_strip = pd.DataFrame([countries_rep_conc.iloc[:,i].str.strip() for i in [0,1]]).transpose()
country_region_strip

            Country                Region
0       Afghanistan  ASIA (EX. NEAR EAST)
1           Albania        EASTERN EUROPE
2           Algeria       NORTHERN AFRICA
3    American Samoa               OCEANIA
4           Andorra        WESTERN EUROPE
..              ...                   ...
222       West Bank             NEAR EAST
223  Western Sahara       NORTHERN AFRICA
224           Yemen             NEAR EAST
225          Zambia    SUB-SAHARAN AFRICA
226        Zimbabwe    SUB-SAHARAN AFRICA

[227 rows x 2 columns]

Concatenação final para deixar o dataframe pronto para as análises:

In [275]:
countries_ = pd.concat([country_region_strip,a], axis = 1 ); countries_.dtypes

Country              object
Region               object
Population          float64
Area                float64
Pop_density         float64
Coastline_ratio     float64
Net_migration       float64
Infant_mortality    float64
GDP                 float64
Literacy            float64
Phones_per_1000     float64
Arable              float64
Crops               float64
Other               float64
Climate             float64
Birthrate           float64
Deathrate           float64
Agriculture         float64
Industry            float64
Service             float64
dtype: object

### Base com retirada dos espaços e substituição das vírgulas por pontos:

In [278]:
countries_.head()

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997.0,647500.0,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655.0,28748.0,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091.0,2381740.0,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794.0,199.0,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201.0,468.0,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

## Inicia sua análise a partir daqui

In [279]:
# Sua análise começa aqui.

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [281]:
region_array = countries_.Region.unique()
region_list = list(region_array)
region_list.sort() #É inplace então
region_list

['ASIA (EX. NEAR EAST)',
 'BALTICS',
 'C.W. OF IND. STATES',
 'EASTERN EUROPE',
 'LATIN AMER. & CARIB',
 'NEAR EAST',
 'NORTHERN AFRICA',
 'NORTHERN AMERICA',
 'OCEANIA',
 'SUB-SAHARAN AFRICA',
 'WESTERN EUROPE']

In [282]:
def q1():
    return region_list
    # Retorne aqui o resultado da questão 1.
    pass
q1()

['ASIA (EX. NEAR EAST)',
 'BALTICS',
 'C.W. OF IND. STATES',
 'EASTERN EUROPE',
 'LATIN AMER. & CARIB',
 'NEAR EAST',
 'NORTHERN AFRICA',
 'NORTHERN AMERICA',
 'OCEANIA',
 'SUB-SAHARAN AFRICA',
 'WESTERN EUROPE']

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [283]:
from sklearn.preprocessing import KBinsDiscretizer

In [284]:
#Diferença entre chamar com ponto . e com [['']]:

# O 'Discretizer' pede dimensão 2

In [285]:
countries_.Pop_density.shape

(227,)

In [286]:
countries_[['Pop_density']].shape

(227, 1)

In [287]:
discretizer = KBinsDiscretizer(n_bins=10, encode = 'ordinal', strategy='quantile')

discretizer.fit(countries_[['Pop_density']])

Pop_density_bins = pd.DataFrame(discretizer.transform(countries_[['Pop_density']]), columns = ['Pop_density_bins'])

In [288]:
countries_ = pd.concat([countries_, Pop_density_bins], axis = 1)

In [289]:
#Desta maneira consigo retornar o valor do índice, utilizando [] para referenciar, como está presente na resposta da questão
countries_.Pop_density_bins.value_counts().index

Float64Index([9.0, 5.0, 0.0, 8.0, 1.0, 6.0, 3.0, 4.0, 2.0, 7.0], dtype='float64')

In [290]:
def q2():
    return countries_.Pop_density_bins.value_counts()[9]# Retorne aqui o resultado da questão 2.
    pass
q2()

23

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [291]:
#Nuḿero de categorias (se missing)
climate_attr = countries_.Climate.value_counts().shape[0]

In [292]:
#Missing também seria uma categoria? 
countries_[['Climate']].isna().sum().sum()

22

In [293]:
#Adicionando a categoria missing
climate_attr = climate_attr + 1; climate_attr

7

In [294]:
#Número de categorias da Region
region_attr = countries_.Region.value_counts()[0]; region_attr

51

In [295]:
#Há missing em Region? não, então não será adicionada nova categoria
countries_[['Region']].isna().sum().sum()

0

In [296]:
def q3():
    return climate_attr + region_attr
    # Retorne aqui o resultado da questão 3.
    pass
q3()

58

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [297]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

Criação do pipeline

In [298]:
pipeline = Pipeline(steps = [
    ('SimpleImputer', SimpleImputer(strategy = 'median')),
    ('StandardScaler', StandardScaler())
])

Aplicação do pipeline:

In [299]:
pipe_float = pipeline.fit_transform(countries_.iloc[:,list(range(2,20))]); pipe_float

array([[ 0.01969468,  0.02758332, -0.19984434, ...,  1.63657562,
        -0.31540576, -1.1611354 ],
       [-0.21387688, -0.31879748, -0.15360296, ...,  0.59516349,
        -0.70631815,  0.08342432],
       [ 0.03561811,  0.99842051, -0.22048996, ..., -0.32662697,
         2.39091078, -1.67396905],
       ...,
       [-0.06192308, -0.03933023, -0.20431152, ..., -0.08738364,
         1.4286649 , -1.0798325 ],
       [-0.14654488,  0.08642673, -0.21958445, ...,  0.51072467,
         0.06047154, -0.47944188],
       [-0.14029829, -0.11624192, -0.20992568, ...,  0.22222537,
        -0.29285312,  0.08342432]])

In [300]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

Tratamento para poder aplicar o transform na nova observação test_country:

In [301]:
df_test_country = pd.DataFrame(test_country).T; df_test_country

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,Test Country,NEAR EAST,-0.190325,-0.323264,-0.0442173,-0.275281,0.132559,-0.805485,1.01198,0.618918,1.00749,0.202399,-0.0436787,-0.139297,1.31636,-0.369964,-0.61493,-0.85437,0.263445,0.571242

Voltar os nomes das colunas:

In [302]:
df_test_country.columns = list(countries); df_test_country

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Test Country,NEAR EAST,-0.190325,-0.323264,-0.0442173,-0.275281,0.132559,-0.805485,1.01198,0.618918,1.00749,0.202399,-0.0436787,-0.139297,1.31636,-0.369964,-0.61493,-0.85437,0.263445,0.571242

Aplicar o transform do pipeline que foi criado com o fit na base completa:

In [303]:
test_country_pipe = pipeline.transform(df_test_country.drop(columns = ['Country','Region'], axis = 1))

Facilitar visualização com um dataframe, de modo a visualizar rapidamente qual é a variável Arable

In [304]:
df_test_country_pipe = pd.DataFrame(test_country_pipe, columns = list(countries.drop(columns = ['Country','Region'], axis = 1)))
df_test_country_pipe

,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,-0.244325,-0.334891,-0.228847,-0.29726,0.019591,-1.028617,-0.966233,-4.354272,-1.03721,-1.046857,-0.550581,-5.101122,-1.218122,-2.024552,-1.990921,-7.04915,-0.139155,0.034903

In [305]:
def q4():
    return round(df_test_country_pipe.loc[0,'Arable'], 3)
    # Retorne aqui o resultado da questão 4.
    pass

q4()

-1.047

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [12]:
def q5():
    # Retorne aqui o resultado da questão 4.
    pass

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [13]:
def q6():
    # Retorne aqui o resultado da questão 4.
    pass

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [14]:
def q7():
    # Retorne aqui o resultado da questão 4.
    pass